
.img1{
     
background-repeat: no-repeat;
background-position: center;
width: 100%;
height: 550px;  
opacity: 0.9;
position: absolute;
z-index: -1;
border-radius: 3px;
   }

   body::backdrop {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(57, 49, 49, .5);
      width: 100%;
      height: 560px;
   }
   
.logo{
   width:65px;
   margin-top: 5px;
   cursor: pointer;
  
}
.navbar{
width: 90%;
padding: 20px;
margin: auto;
display: flex;
justify-content: space-between;
}
.navbar ul li{
list-style: none;
   display: inline-block;
}
.navbar li a{
   text-decoration: none;
   color: white;
   font-weight: 600;
   padding: 13px;
}

   .navbar a:hover{
color:black ;
background-color: rgb(255, 255, 255);
   }
.contents{
   width: 100%;
   position: absolute;
   color: white;
   top: 25%;
   text-align: center;
   
}
.contents h1{ 
   margin: 1px;
font-size: 60px;
font-weight: 500;
}
.contents p{
   font-size: 27px;
}
button{
padding: 20px;
width: 200px;
margin: 5px;
border-radius: 2px;
color: rgb(222, 222, 235);
border: 2px;
font-size: 15px;
cursor: pointer;
background-color: rgb(73, 73, 216) ;
font-weight: 700;
}
button:hover{
background-color:rgb(45, 45, 45) ;
color: bisque;
}
   
.paragraph{
text-align: center;
margin-top: 500px;
margin-left: 15%;
margin-right:15%;
font-family: Arial, sans-serif;
color: #333;
}
#id1{
height: 250px;
width: 350px;
padding: 3px;
}
#id2{
height: 250px;
width: 500px;

padding: 3px;
}
#id3{
height: 250px;
width: 500px;
padding: 3px;
}
#id4{
height: 250px;
width: 350px;
padding: 3px;
}
.last h3{
text-align: center;
}
.last p{
margin-left:15% ;
margin-right: 15%;
text-align: center;
max-width: 900px;
}
.A1{
   
   background-color:rgb(245, 238, 238);
   max-width: 100vw;  
  text-align: center;
   font-family: Arial, sans-serif;

}
.A1 h2 { 
   font-size: 2em;
   margin-bottom: 10px;
   
   text-align: center;
}
.A1 p {
   color: #666;
   max-width: 700px;
   margin: 0 auto 20px;
   line-height: 1.5;
}
.line{
   border-bottom-width: 5% !important;
   width: 200px;
   margin: auto;
border: 2px solid rgb(104, 104, 232);
  
}
.services {
   display: flex;
   justify-content: space-around; 
  
  margin: auto;
}
.service {
   flex: 1; 
 
 margin: auto;
   height: 20%;
   font-size: small;
   background-color:rgb(245, 238, 238);   
}
.service h3{
   font-size: 1.5em;
    margin-bottom: 10px; 
   
}
.service p {
   color: #666;
   
}
.tutorizine {
   
   background-color: #3b3939;
  
  border-bottom: 30px solid black;
  
}
.text{
   width: 40%;
   height: 100px; 
    margin: auto;  
  
   text-align: center; 
/* margin-left: 30%;  */
display: flex;
justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: white;
  text-decoration: double;
  
}
.SUBSCRIBE{
padding: 8px;
width: 50%;
margin: 5px ;
box-sizing: border-box;
margin-bottom: 15px;
}
.submitbutton{
   padding: 10px;
   margin: 5px ;
   width: 25%;
    background-color:rgb(83, 136, 241); 
    color: white;
    text-decoration: double;
}
.submitbutton :hover{
   color: black;
   background-color: rgb(0, 0, 122);
}
.c1{
   opacity: 0.7;
}

@media  screen and (max-width: 900px) {
   .navbar{
       align-items: center;
       flex-direction: column;
   }
   
   .images{
       
       #id1{
          height: 280px;
          width: 80px; 
       }
       #id2{
          height: 280px;
          width: 120px; 
       }
       #id3{
           height: 280px;
           width: 120px;
       }
       #id4{
           
          height: 280px;
          width: 80px; 
       }
   }
    
      
           .services{
               display: flex;
               flex-direction: column;
             
               width: 100vw;
             
              
              
           }
           
           .tutorizine {
   
  
  border-bottom: 100px solid black;
   
   
           } 
           .sub{
               display: flex;
               flex-direction: column;
            margin-left: 25%;
width: 100% ;
           }
           .submitbutton{
           align-items: ;
           }
   }